pkgbase = omnetpp-qt
	pkgdesc = OMNeT++ Discrete Event Simulator. OMNeT++ is an extensible, modular, component-based C++ simulation library and framework, primarily for building network simulators: QT version
	pkgver = 5.3
	pkgrel = 1
	url = http://www.omnetpp.org
	arch = i686
	arch = x86_64
	license = custom
	makedepends = sh
	makedepends = wget
	makedepends = qt5-base
	makedepends = cmake
	makedepends = gcc
	makedepends = bison
	makedepends = flex
	makedepends = perl
	makedepends = openscenegraph
	depends = libxml2
	depends = qt5-base
	depends = tcl
	depends = tk
	depends = blt
	depends = jdk8-openjdk
	depends = openmpi
	depends = libpcap
	depends = doxygen
	depends = graphviz
	depends = clang
	depends = openscenegraph
	provides = omnetpp
	conflicts = omnetpp
	source = OMNeT++.desktop
	source = omnetpp.sh
	source = download.sh
	source = fix-configure-for-loop.patch
	source = omnetpp-5.3-src-linux.tgz::https://www.omnetpp.org/omnetpp/send/30-omnet-releases/2325-omnetpp-5-3-linux
	sha512sums = a5772a605592ed2db839609f8298d1d71fb9141eb1b30dac584b788414dfe49b250ba803351a3a84f90c6b89f8e09e7b129a037af17c9b94c22dff2003a5edd8
	sha512sums = facb711a01c41665c7909f82b4cee65ddee232e0c526f754ce1ab148dbc6c65abb9b24255f985be245fb2c33f91623365eac730ef83cb1a7c595a09726856fa1
	sha512sums = 47f80ac3615d7df568fc3da2d57860399b873137a1663c959572d7bd2fea59421ebfad3fd7991630247ad1b7c28f9b5b87912e35f738adce2ad9b61e66d62dc0
	sha512sums = d609715e05e1c08580dce8ceba20501a00d886d2eb3462da4fc3b283415c5cca0747c6c593e207ba77388f4af72c8cf23ddf8b4b2b3d594c31daf4cab6bb21d8
	sha512sums = 018b3cadb7cff592da0959b5cff3923e0d2f9a621cadd2d385e5dfc6547d992c50720f0e89f01145b2041fb58b8e3fec94dbabc832e61b3cabc49bc5d887b905

pkgname = omnetpp-qt

